@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.header--dark {
    background-color: rgb(51, 57, 64);
    color: rgb(236, 236, 236);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
}

.header__title {
    display: inline;
    font-size: 1.25rem;
    font-weight: 400;
}

.header__search {
    display: inline-flex;
    align-content: center;
    padding-left: 1rem;
}

.header__login {
    display: inline;
    margin-left: 1rem;
}

.header__login:hover {
    color: rgb(190, 190, 190);
    transition-duration: .3s;
    cursor: pointer;
}

.header__nav{
    display: inline-flex;
    padding-left: 4rem;
}

.header__nav:hover {
    color: rgb(190, 190, 190);
    transition-duration: .3s;
    cursor: pointer;
}

.header__nav, .header__login {
    color: rgb(120, 120, 120);
}

.search__input {
    border-radius: 4px 0 0 4px;
    padding: .375rem .75rem;
    font-size: 1.2rem;
    transition: border .15s linear;
    border-color: transparent;
}

.search__btn {
    border-radius: 0 4px 4px 0;
    background-color: rgb(0, 123, 255);
    color: rgb(233, 236, 239);
    border-color: transparent;
    min-width: 2.5rem;
}

.search__input:focus {
    border-color: rgb(128, 189, 255);
    outline: transparent;
}

.main__nav {
    background-color: rgb(33, 37, 41);
    font-size: .9rem;
    line-height: 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: .5rem 1rem;
    min-height: 100vh;
    max-width: 6rem;
}

@media only screen and (min-width: 700px) {
    .main__nav {
        max-width: 11.5rem;
    }
}


.main__h1 {
    font-size: 2rem;
    font-weight: 400;
}

.nav__ul {
    padding: 0;
}

.ul__li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.a--active {
    color: rgb(210, 210, 210);
}

.a--inactive, .li__span {
    color: rgb(120, 120, 120);
}

.ul__li > a:hover, .li__span:hover {
    color: rgb(190, 190, 190);
    transition-duration: .3s;
}

.ul__li--uppercase {
    font-size: .7rem;
    font-weight: 900;
    color: rgb(80, 80, 80);
    padding-top: 1rem;
    padding-bottom: .5rem;
}

.ul__li a {
    text-decoration: none;
    padding-bottom: .5rem;
}

.ul__li a i {
    padding-right: .4rem;
}

.li__text, .li__text--active {
    color: transparent;
}
@media only screen and (min-width: 700px) {
    .li__text {
        color: rgb(120, 120, 120);
    }
    .li__text:hover {
        color: rgb(190, 190, 190);
        transition-duration: .3s;
    }
    .li__text--active {
        color: rgb(210, 210, 210);
    }
}

.main__breadcrumb {
    background-color: rgb(233, 236, 239);
    border-radius: .25rem;
    padding: 1rem 1.5rem;
    color: rgb(120, 120, 120);
    font-size: .7rem;
    text-align: left;
}

.card__top {
    border-radius: .25rem .25rem 0 0;
    padding: 1.5rem 1rem;
    box-shadow: inset 0 0 1px rgb(110,110,110);
    text-align: center;
    font-size: .9rem;
    text-align: left;
}

.card__top:hover {
    filter: background-color brightness(130%);
}

.card__bottom {
    display: flex;
    font-size: .7rem;
    text-align: justify;
    padding: 1rem;
    border-radius: 0 0 .25rem .25rem;
    text-align: center;
    justify-content: space-between;
    box-shadow: inset 0 0 1px rgb(110,110,110);
}

.main__card--blue {
    border-radius: .25rem;
    border-color: rgb(50, 50, 255);
    background-color: rgb(0, 123, 255);
    transition: background-color .3s ease-in-out;
    opacity: .9;
}

.main__card--blue:hover {
    opacity: 1;
}

.main__card--yellow {
    border-radius: .25rem;
    border-color: rgb(255, 135, 7);
    background-color: rgb(255, 193, 7);
    transition: background-color .3s ease-in-out;
    opacity: .9;
}

.main__card--yellow:hover {
    opacity: 1;
}

.main__card--green {
    border-radius: .25rem;
    border-color: rgb(10, 100, 49);
    background-color: rgb(40, 167, 69);
    transition: background-color .3s ease-in-out;
    opacity: .9;
}

.main__card--green:hover {
    opacity: 1;
}

.main__card--red {
    border-radius: .25rem;
    border-color: rgb(150, 43, 59);
    background-color: rgb(220, 53, 69);
    transition: background-color .3s ease-in-out;
    opacity: .9;
}

.main__card--red:hover {
    opacity: 1;
}

.main {
    display: flex;
    justify-content: flex-start;
    
    /* grid-template-areas: 'menu essence essence essence essence essence essence essence'; */
}
.main__aside { 
    /* grid-area: menu; */
    flex-grow: 1;
}
.content { 
    flex-grow: 16;
    /* grid-area: essence;  */
    padding: 1rem;
    max-width: 95%;
}

.main__cards {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    max-width: 100%;
}

@media only screen and (min-width: 700px) {
    .main__cards {
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
    }
}

.main__card {
    color: rgb(240, 240, 240);
    min-width: 24%;
}
